<h1>{{title}}</h1>

<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/subdir/test.html'>Test in sub directory with no front matter</a></li>
        <li><a href='/subdir/sub-subdir/test'>File with same name and link without the ".html"</a></li>
    </ul>
</nav>
